# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.env.local

# Keep example files tracked
!*.env.example

# Uploads & DB
backend/uploads/
*.db
*.sqlite

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db
